.header {
    padding: 0px 30px;
    display: flex;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24);
    padding: 10px;
    padding-inline: 20px;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    padding-right: 10px;
    padding-bottom: 5px;
}

.header .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.left-options {
    border-left: 2px solid #eff1f4;
    display: flex;
    gap: 10px;
    padding-inline: 20px;
    align-items: center;
    justify-content: center;
}

.l-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.l-option:hover{
    background-color: rgba(113, 113, 113, 0.224);
}

.header .right {
    padding: 10px;
}

.right button {
    outline: none;
    border-radius: 5px;
    padding: 6px 13px;
    font-family: 'Poppins', sans-serif;
    margin-inline: 10px;
    cursor: pointer;
}

.right .login-btn {
    border: 1px solid #d7d7d7;
    background-color: white;
    transition: 0.3s;
}
.right .login-btn:hover{
    background-color: rgb(219, 219, 219);
}
.right .signup-btn {
    border: none;
    background-color: black;
    color: white;
    margin-right: 0;
}

@media (max-width:768px){
    .left-options{
        display: none;
    }
}